{% extends 'core/base.html' %} {% block title %}Faktur{% endblock %} 
{% block content %}

<div class="mt-6 px-6 py-12 bg-gray-200 rounded-xl">
    <h2 class="mb-12 text-4xl text-center text-slate-900">Cari Berdasarkan Nama</h2>

    <form method="get" action="{% url 'faktur:items' %}">
        <input name="query" class="min-w-full py-4 px-6 border rounded-xl" type="text" value="{{  query }}"
        placeholder="Input yang ingin anda cari..">
  
    <button class="flex mt-2 py-4 px-8 text-lg bg-teal-800 text-white rounded-xl hover:bg-teal-500 mx-auto">Search</button>
    </form>
</div>

<article class="papanInfo"> <div class="text-box">
    <p>
        Menu ini digunakan untuk mencari Faktur Pajak Pembelian yang NPWP Pembelinya 
        <br>tidak dicantumkan dalam Faktur Pajak.
    </p>
    <a href="" class="hero-btn">Visit to know more</a>

</article>

{% endblock %}