{% extends 'core/base.html' %} {% block title %}Faktur{% endblock %} 
{% block content %}

<div class="mt-6 px-6 py-12 bg-gray-200 rounded-xl">
    <h2 class="mb-12 text-4xl text-center text-slate-900">Cari Berdasarkan Nama</h2>

    {% comment %} Form ini meneruskan value GET (yang diketik) 
    ke fungsi items
    {% endcomment %}
    <form id="searchForm" method="get" action="{% url 'faktur:items' %}">
        <input name="query" class="min-w-full py-4 px-6 border rounded-xl" 
        type="text" value="{{  query }}"
        placeholder="Input yang ingin anda cari.." autocomplete="off">
        <button id="buttonSubmit" type="submit" class="flex mt-2 py-4 px-8 text-lg bg-teal-800 text-white rounded-xl hover:bg-teal-500 mx-auto">Search</button>
    </form>
</div>

<article class="papanInfo"> 
    <div class="text-box">
        Input nama Wajib Pajak yang ingin anda cari faktur pajak 000 nya.
    </div>
</article>

<!-- Loader yang akan muncul saat form disubmit -->
<div id="loader" class="loader" style="display:none;"></div>

<script>
    // Mendeteksi kembali ke halaman
    window.addEventListener('pageshow', function (event) {
        // event.persisted akan true jika kembali dari cache (misalnya tombol "Back" pada browser)
        if (event.persisted) {
            // Sembunyikan loader
            document.getElementById("loader").style.display = "none";
        }
    });

    document.getElementById("buttonSubmit").addEventListener("click", function () {
        // Tampilkan loader
        document.getElementById("loader").style.display = "block";
        
        // Sediakan kode lain yang ingin Anda jalankan saat tombol diklik
        // ...

        // Formulir akan tetap terkirim karena jenis tombolnya adalah "submit"
    });
</script>


{% endblock %}