<!DOCTYPE html>
<html>
<head>
    <title>Data Detail</title>
</head>
<body>
    <h1>Data Detail</h1>
    <p>ID: {{ data.ID_PEMBELI }}</p>
    <p>Nomor Faktur: {{ data.NO_FAKTUR }}</p>
    <p>Tanggal Faktur: {{ data.TGL_FAKTUR }}</p>
    <p>Masa Tahun Pajak: {{ data.ID_MS_TH_PJK }}</p>
    <p>NPWP Penjual: {{ data.NPWP_PENJUAL }}</p>
    <p>Nama Penjual: {{ data.NAMA_PENJUAL }}</p>
    <p>Alamat Penjual: {{ data.ALAMAT_PENJUAL }}</p>
    <p>NPWP Pembeli: {{ data.NPWP_PEMBELI }}</p>
    <p>Nama Pembeli: {{ data.NAMA_PEMBELI }}</p>
    <p>Alamat Pembeli: {{ data.ALAMAT_PEMBELI }}</p>
    <p>Jumlah Barang: {{ data.JML_BARANG }}</p>
    <p>Nama Barang: {{ data.NAMA_BARANG }}</p>
    <p>DPP: {{ data.JML_DPP }}</p>
    <p>PPN: {{ data.JML_PPN }}</p>
</body>
</html>