<!-- faktur/detail.html -->

{% extends 'core/base.html' %}
{% load humanize %}

{% block content %}

{% comment %} {% for pembeli in data_pembeli_list %}
    <p>{{ pembeli.ID_PEMBELI }}</p>
{% endfor %} {% endcomment %}

<button class="my-5 ml-2 py-2 px-4 text-lg bg-rose-500 text-white rounded-lg">
    <a href="{% url 'faktur:download_csv' data_pembeli_list.0.ID_PEMBELI %}">
        Download CSV
    </a>
</button> 


  <h2>Daftar Faktur untuk {{ data_pembeli_list.0.NAMA_PEMBELI }}</h2>
    <tbody>
      <table>
        <tr>
          <th>Nomor Faktur</th>
          <th>NPWP Penjual</th>
          <th>Nama Penjual</th>
          <th>Alamat Penjual</th>
          <th>Nama Pembeli</th>
          <th>Alamat Pembeli</th>
          <th>Nama Barang</th>
          <th>Jumlah PPN</th>
        </tr>
        {% for pembeli in data_pembeli_list %}
        <tr>
        <td>{{ pembeli.NO_FAKTUR }}</td>
        <td>{{ pembeli.NPWP_PENJUAL }}</td>
        <td>{{ pembeli.NAMA_PENJUAL }}</td>
        <td>{{ pembeli.ALAMAT_PENJUAL }}</td>
        <td>{{ pembeli.NAMA_PEMBELI }}</td>
        <td>{{ pembeli.ALAMAT_PEMBELI }}</td>
        <td>{{ pembeli.NAMA_BARANG }}</td>
        <td>{{ pembeli.JML_PPN|floatformat:"2"|intcomma }}</td>
        {% endfor %}
        </tr>
      </table>
    </tbody>
  

{% endblock %}


