{% extends 'core/base.html' %} 
{% load humanize %}

{% block title %}Faktur{% endblock %} 
{% block content %}
<div class="pb-6">

  <div class="max-w-md mx-auto bg-white p-6">
    <form method="get" action="{% url 'faktur:items' %}" class="text-center" id="main-form">
        <div class="flex items-center mb-4">
            <input name="query" class="w-full py-2 px-4 border rounded-lg search-input" type="text" value="{{ query }}" placeholder="Find what you want..">
            <button name="cari" class="ml-2 py-2 px-4 text-lg bg-teal-500 hover:bg-teal-900 text-white rounded-lg">Cari</button>
        </div>
    </form>
</div>


  <div>
  {% if page_obj.0 and page_obj.0.id_pembeli %}
  <button class="my-5 ml-2 py-2 px-4 text-lg bg-rose-500 hover:bg-rose-800 text-white rounded-lg">
    <a href="{% url 'faktur:download_csv_nama' %}?query={{ query }}">
      Download
    </a>
  </button>
</div>

  <!-- Loader yang akan muncul saat form disubmit -->
  <div id="loader" class="loader" style="display:none;"></div>

  <div class="col-span-3">
    <div>
        {% comment %} {% if query %}
            {% if items %} {% endcomment %}
                    <div>
                        <tbody>
                            <table>
                            {% comment %} {% if cari %} {% endcomment %}
                            <tr>
                                <th>Nama Pembeli</th>
                                <th>Alamat Pembeli</th>
                                <th>Tahun Pajak</th>
                                <th>Lembar Faktur</th>
                                <th>Nilai DPP</th>
                                <th>Nilai PPN</th>
                            </tr>
                            {% comment %} {% endif %} {% endcomment %}
                            {% for faktur in page_obj %}
                            <tr>
                                <td><a href="{% url 'faktur:items_faktur' faktur.id_pembeli %}" class="hover:text-teal-500">{{ faktur.nama_pembeli }}</a></td>
                                <td>{{ faktur.alamat_pembeli }}</td>
                                <td>{{ faktur.thpj }}</td>
                                <td>{{ faktur.lbr_faktur }}</td>
                                <td>{{ faktur.nil_dpp|floatformat:"2"|intcomma }}</td>
                                <td>{{ faktur.nil_ppn|floatformat:"2"|intcomma }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        </tbody>
                    </div>
            {% comment %} {% else %}
                <p>No results found.</p>
            {% endif %}
        {% endif %} {% endcomment %}
    </div>
</div>

<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?query={{ request.GET.query|urlencode }}&page=1">&laquo; first</a>
          <a href="?query={{ request.GET.query|urlencode }}&page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?query={{ request.GET.query|urlencode }}&page={{ page_obj.next_page_number }}">next</a>
          <a href="?query={{ request.GET.query|urlencode }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>

{% else %}
<p class="my-5 ml-2 text-lg text-red-500">Data tidak tersedia.</p>
{% endif %}


  {% endblock %}

<script>
     function clearForm() {
        document.getElementById("main-form").reset()
    } 
</script>
<script>
    // Mendeteksi kembali ke halaman
    window.addEventListener('pageshow', function (event) {
        // event.persisted akan true jika kembali dari cache (misalnya tombol "Back" pada browser)
        if (event.persisted) {
            // Sembunyikan loader
            document.getElementById("loader").style.display = "none";
        }
    });

    document.getElementById("buttonSubmit").addEventListener("click", function () {
        // Tampilkan loader
        document.getElementById("loader").style.display = "block";
        
        // Sediakan kode lain yang ingin Anda jalankan saat tombol diklik
        // ...

        // Formulir akan tetap terkirim karena jenis tombolnya adalah "submit"
    });
  </script>
