<!-- faktur/per_wilayah.html -->

{% extends 'core/base.html' %} {% block title %}Faktur{% endblock %} 
{% block content %}

<h2>Data Faktur</h2>
<p></p>

<div class="justify-center items-center px-5 flex space-x-4">
    <!-- Dropdown 1 -->
    <div id="select-btn" class="relative inline-block text-left">
        <button id="dropdownButton1" data-dropdown-toggle="dropdownId1" class="text-white bg-emerald-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Pilih Kota atau Kabupaten <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </button>
    
        <!-- Dropdown menu 1 -->
        <div id="dropdownId1" class="overflow-auto z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow absolute left-0 mt-2 w-44 max-h-40 dark:bg-gray-700">
            <ul id="optionList" class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownButton1">
                
                {% for wilayah in wilayah_list %}
                <li class="optionItem">
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ wilayah }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Dropdown 2 -->
    <div class="relative inline-block text-left">
        <button id="dropdownButton2" data-dropdown-toggle="dropdownId2" class="text-white bg-emerald-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Pilih Kota atau Kabupaten <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </button>

        <!-- Dropdown menu 2 -->
        <div id="dropdownId2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow absolute left-0 mt-2 w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownButton2">
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">KOTA BUKITTINGGI</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">KOTA PARIAMAN</a>
                </li>
                <!-- Add other items as needed -->
            </ul>
        </div>
    </div>

    <!-- Dropdown 3 -->
    <div class="relative inline-block text-left">
        <button id="dropdownButton2" data-dropdown-toggle="dropdownId2" class="text-white bg-emerald-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Pilih Kota atau Kabupaten <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </button>

        <!-- Dropdown menu 2 -->
        <div id="dropdownId2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow absolute left-0 mt-2 w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownButton2">
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">KOTA BUKITTINGGI</a>
                </li>
                <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">KOTA PARIAMAN</a>
                </li>
                <!-- Add other items as needed -->
            </ul>
        </div>
    </div>

</div>




<div class="py-5 px-5">
  <tbody>
    <table>
      <tr>
        <th>Nama Pembeli</th>
        <th>Alamat Pembeli</th>
      </tr>
      {% for data_item in data %}
      <tr>
        <td>
          <a href="{% url 'faktur:items_faktur' data_item.id_pembeli %}"
            >{{ data_item.nama_pembeli }}</a
          >
        </td>
        <td>{{ data_item.alamat_pembeli }}</td>
      </tr>
      {% endfor %}

      <!-- Tampilkan pagination jika ada lebih dari satu halaman -->
      {% if data.has_other_pages %}
      <div class="pagination">
        <span class="step-links">
          {% if data.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ data.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Halaman {{ data.number }} dari {{ data.paginator.num_pages }}.
          </span>

          {% if data.has_next %}
          <a href="?page={{ data.next_page_number }}">next</a>
          <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
      {% endif %}
    </table>
  </tbody>
</div>

<script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
<script>
    const optionMenu = document.querySelector("#select-btn"),
        selectBtn = optionMenu.querySelector("#dropdownButton1"),
        options = optionMenu.querySelectorAll(".optionItem"),
        sBtn_text = optionMenu.querySelector("#dropdownButton1");

    selectBtn.addEventListener("click", () =>
        optionMenu.classList.toggle("active")
    );

    options.forEach((option) => {
        option.addEventListener("click", () => {
            let selectedOption = option.querySelector("a").innerText;
            sBtn_text.innerText = selectedOption;

            optionMenu.classList.remove("active");
        });
    });
</script>

{% endblock %}

