{% load static %}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <title>{% block title%} {% endblock %} | App Faktur 000</title>
    <link rel="icon" type="image/png" href="{% static 'img/python.png' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="flex flex-col min-h-screen">

    {% if request.user.is_authenticated %}
        {% include 'core/navbar.html' %}
    {% endif %}

    <div class="flex-grow flex-shrink-0 px-6 py-6">
        {% block content %}
        {% endblock %}
    </div>

    {% comment %} <footer class="fixed bottom-0 w-screen h-12 text-center py-20 bg-grey-100 text-xs text-slate-400 hover:text-slate-700">
        DP3 - 050 - 2023 <br> simplicity is the ultimate sophistication &copy : AMC (2023)
    </footer> {% endcomment %}

</body>
</html>