{% load static %}

<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <title>{% block title%} {% endblock %} | App Faktur 000</title>
</head>

<body class="flex flex-col min-h-screen">

    <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">
        <a href="{% url 'core:index' %}" class="text-2xl font-semibold">Mini Faktur 000</a>

        <div class="space-x-6">
            <a href="" class="text-lg font-semibold hover:text-gray-500">New Item</a>
            <a href="{% url 'faktur:items' %}" class="text-lg font-semibold hover:text-gray-500">Browse</a>

            {% if request.user.is_authenticated %}
            <a href="" class="px-5 py-2 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Dashboard</a>
            <a href="{% url 'faktur:per_wilayah' %}" class="px-5 py-2 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Per Wilayah</a>
            <a href="{% url 'core:user_logout' %}" class="px-5 py-2 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-lime-700">Log out</a>
            {% else %}

            <a href="" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign up</a>
            <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-teal-700">Log in</a>
            {% endif %}
        </div> 
    </nav>

    <div class="flex-grow px-6 py-6">
        {% block content %}
        {% endblock %}
    </div>




</body>
</html>