
{% extends 'core/base.html' %} 
{% block title %}Faktur{% endblock %} 
{% block content %}

<h1 class="text-2xl text-slate-900 text-center">Data Faktur</h1>
<p></p>

{% if data %}
  <!-- Tampilkan hasil pencarian -->
  <h2 class="text-sm text-slate-900 text-center">Hasil Pencarian</h2>

  <div class="flex justify-end">
  {% comment %} <form method="get" action="{% url 'faktur:download_all_csv' %}">
    {% for key, value in form_data.items %}
      <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}
    <button type="submit" class="my-2 ml-2 py-2 px-2 text-sm bg-red-500 hover:bg-red-900 text-white rounded-lg">Download CSV</button>
  </form> {% endcomment %}

  {% comment %} Button download CSV yang mengandung kata masing-masing kecamatan di Kota/Kab yang dipilih {% endcomment %}
  <form method="get" action="{% url 'core:download_all_csv_kecamatan' %}">
    {% for key, value in form_data.items %}
      <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}
    <button type="submit" class="my-2 ml-2 py-2 px-2 text-sm bg-red-500 hover:bg-red-900 text-white rounded-lg">Download CSV</button>
  </form>
</div>

  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>Nama Pembeli</th>
        <th>Alamat Pembeli</th>
      </tr>
    </thead>
    <tbody>
      {% comment %} Context data didapatkan dari fungsi get_data {% endcomment %}
        {% for item in data %}
          <tr>
            <td>{{ data.start_index|add:forloop.counter0 }}</td>
            <td>
              <a href="{% url 'faktur:items_faktur' item.id_pembeli %}">
                {{ item.nama_pembeli }}
              </a>
            </td>
            <td>{{ item.alamat_pembeli }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
  
  <!-- Tampilkan halaman navigasi (jika ada lebih dari satu halaman) -->
{% if data.has_other_pages %}
  <div class="pagination mt-4">
    <span class="step-links">
      {% if data.has_previous %}
        <a href="?page=1&wilayah_field={{ form_data.wilayah_field }}" class="text-blue-500 hover:underline">first</a>
        <a href="?page={{ data.previous_page_number }}&wilayah_field={{ form_data.wilayah_field }}" class="text-blue-500 hover:underline">previous</a>
      {% endif %}

      <span class="current text-blue-500">
        Page {{ current_page_number }} of {{ data.paginator.num_pages }}.
      </span>

      {% if data.has_next %}
        <a href="?page={{ data.next_page_number }}&wilayah_field={{ form_data.wilayah_field }}" class="text-blue-500 hover:underline">next</a>
        <a href="?page={{ data.paginator.num_pages }}&wilayah_field={{ form_data.wilayah_field }}" class="text-blue-500 hover:underline">last</a>
      {% endif %}
    </span>
  </div>
  {% endif %}
{% endif %}


{% endblock %}

