{% extends 'core/base.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}
{% comment %} Item terbaru {% endcomment %}
<div class="mt-6 px-6 py-12 bg-gray-200 rounded-xl">
    <h2 class="mb-12 text-4xl text-center text-slate-900">Newest Faktur</h2>

    <form method="get" action="{% url 'faktur:items' %}">
        <input name="query" class="min-w-full py-4 px-6 border rounded-xl" type="text" value="{{  query }}"
        placeholder="Find what you want..">
  
    <button class="flex items-center justify-center mt-2 py-4 px-8 text-lg bg-teal-800 text-white rounded-xl hover:bg-teal-500 mx-auto">Search</button>
    </form>

    {% comment %} <div class="grid grid-cols-5 gap-3 pt-5">
        {% for fp in latest_faktur %}
        <div class="w-full">
            <a href="{% url 'faktur:detail' fp.ID_PEMBELI %}">
                <div class="p-6 bg-white rounded-b-xl">
                    <p class="text-gray-500">Nama Pembeli : {{ fp.NAMA_PEMBELI }}
                </div>
            </a>
        </div>
        {% endfor %}
    </div> {% endcomment %}

</div>

{% endblock %}
