body {
    font-family: 'Quicksand', sans-serif;
  }

h2{
    width: 100%;
    margin: auto;
    text-align: center;
    color: black;
    font-size: 30px;
}

.nav-link.active {
  background-color: #008080; /* Ganti dengan warna yang sesuai */
  color: #fff; /* Ganti dengan warna yang sesuai */
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

subJudul{
    width: 100%;
    margin: auto;
    text-align: center;
    color: black;
    font-size: 30px;
}

.papanInfo{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px ;
}

.papanInfo-col{
    flex-basis: 31%;
    background: fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.papanInfo-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.text-box{
    width: 90%;
    color: black;
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color:black;
}

/* .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid mediumseagreen;
    background: mediumseagreen;
    transition: 1s
} */


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Aturan CSS untuk sel header tabel */
  th {
    background-color: #4CAF50; /* Warna latar belakang header */
    color: white; /* Warna teks header */
    padding: 12px; /* Padding untuk header */
    text-align: left;
    font-size: 16px; /* Ukuran huruf header */
  }
  
  /* Aturan CSS untuk sel data */
  td, th {
    border: 1px solid #ddd; /* Garis antara sel */
    padding: 8px; /* Padding untuk sel data */
    text-align: left;
    font-size: 12px; /* Ukuran huruf sel data */
  }
  
  /* Aturan CSS untuk hover pada baris */
  tr:hover {
    background-color: #f5f5f5; /* Warna latar belakang saat hover */
  }


  /* --------------------dropdown menu------------- */
  
  .select-menu {
    max-width: 330px;
    margin: 50px auto;
  }
  .select-menu .select-btn {
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .select-menu .options {
    position: absolute;
    width: 330px;
    overflow-y: auto;
    max-height: 295px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
  }
  .select-menu .options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
  }
  .select-menu .options .option:hover {
    background: #f2f2f2;
  }
  .select-menu .options .option i {
    font-size: 25px;
    margin-right: 12px;
  }
  .select-menu .options .option .option-text {
    font-size: 18px;
    color: #333;
  }
  
  .select-btn i {
    font-size: 25px;
    transition: 0.3s;
  }
  
  .select-menu.active .select-btn i {
    transform: rotate(-180deg);
  }
  .select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
  }
  
  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 30px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes fadeInDown {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate3d(0, 20px, 0);
      opacity: 0;
    }
  }

  /* ---------------end dropdown menu-------------- */

  /* ---------------forms field-------------------- */

  /* CSS untuk menyesuaikan tampilan dropdown */
.custom-select {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-color: #ccc;
}

/* Gaya untuk mengubah tampilan dropdown saat dihover */
.custom-select:hover {
  border-color: #888;
}

/* Gaya untuk mengubah tampilan dropdown saat mendapatkan fokus */
.custom-select:focus {
  border-color: #555;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  outline: 0;
}

/* Gaya untuk mengubah tampilan dropdown ketika diaktifkan atau dipilih */
.custom-select:active,
.custom-select.active {
  border-color: #555;
  background-color: #eee;
  color: #333;
}

/* Gaya untuk panah dropdown */
.custom-select::after {
  content: "\25BC"; /* panah segitiga turun */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Gaya untuk menyesuaikan tampilan dropdown dalam formulir horizontal */
.custom-select.form-horizontal {
  width: auto;
}


/* -------------------end forms field----------------------------- */

#footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  position: sticky;
  bottom: 0;
}